/* --------------------------------------------------------
Style Sheet for Wikipedia JS App

version: 2.2
last modified: 26.02.2019 by Anderson Oliveira
author: Anderson Oliveira
email: deehzero@gmail.com
website: http://github.com/prJy/js-wikipedia
----------------------------------------------------------*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: "Segoe UI", Roboto, Oxygen-Sans, sans-serif;
  text-align: center;
}

img.logo {
  width: 150px;
  margin: 0px auto;
}

.searchForm-container {
  width: 100%;
  height: 100px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.searchForm {
  margin: 0px auto;
  display: flex;
  background-color: #292929;
  border: 1px solid #242424;
  border-radius: 4px;
}

.searchForm-input {
  background-color: #292929;
  border: none;
  height: 44px;
  width: 550px;
  padding: 5px 10px;
  color: white;
}

.icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  background-color: #292929;
}

.icon:hover {
  background-color: #1f1f1f;
}

.icon img {
  width: 22px;
  height: 22px;
}

.searchResults {
  padding: 20px 0 50px;
  margin-left: 140px;
  width: 100%;
  text-align: left;
  margin: 0px auto;
}

.resultItem {
  opacity: 0;
  margin-bottom: 20px;
  color: white;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
}

.resultItem:hover {
  background-color: #434343;
}

.resultItem-title {
  margin-bottom: 4px;
}

.resultItem-title a {
  color: white;
  text-decoration: none;
}

.resultItem-title a:hover {
  text-decoration: underline;
}

.resultItem-snippet,
.resultItem-link {
  color: #c2c2c2;
  font-size: 13px;
}

@media screen and (max-width: 750px) {
  .searchForm-container {
    padding: 20px 0 20px;
    height: auto;
    justify-content: space-between;
    flex-direction: column;
  }
  .searchForm {
    margin: 20px auto 0;
  }
  .searchForm-input {
    width: 300px;
  }
  .searchResults {
    width: 388px;
    margin-left: auto;
    margin-right: auto;
  }
}